#head{
    color: white;
    font-size: 80px;
}
#board{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    row-gap: 5px;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#cell0, #cell1, #cell2, #cell3, #cell4, #cell5, #cell6, #cell7, #cell8{
    height: 100px;
    width: 100px;
    background-color: white;
    color: black;
    display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-size: 2rem;
   transition: transform 0.5s ease-out;
}
#cell0:hover, #cell1:hover, #cell2:hover, #cell3:hover, #cell4:hover, #cell5:hover, #cell6:hover, #cell7:hover, #cell8:hover{
    transform: scale(1.1);
}
#result{
    color: white;
}

#reset{
    height: 40px;
    width: 80px;
    font-size: 1.5rem;
}